<style>
body {
margin: 0;
font-family: Century Gothic, sans-serif;
background: rgb(0, 0, 0);
}
nav {
position: fixed;
top: 0;
left: 0;
right: 0;
background: rgb(173, 216, 230);
color: white;
display: flex;
justify-content: space-around;
padding: 10px;
}
nav a {
color: black;
text-decoration: none;
font-family: Century Gothic, sans-serif
}
h1 {
position: sticky;
top: 40px;
background: rgb(95, 158, 160);
margin: 50;
padding: 15px;
text-align: center;
font-family: Century Gothic, sans-serif;
color: rgb(255, 255, 255)
}
.flex-center {
display: flex;
justify-content: center;
align-items: center;
font-family: Century Gothic, sans-serif;
height: 250px;
background: rgb(135, 206, 250);
margin: 20px;
}
.card1 {
background: rgb(238, 130, 238);
padding: 30px;
text-align: center;
font-family: Century Gothic, sans-serif;
color: rgb(255, 255, 255)
}
.card2 {
background: rgb(148, 0, 211);
padding: 30px;
text-align: center;
font-family: Century Gothic, sans-serif;
color: rgb(255, 255, 255)
}
.card3 {
background: rgb(147, 112, 219);
padding: 30px;
text-align: center;
font-family: Century Gothic, sans-serif;
color: rgb(255, 255, 255)
}
.card4 {
background: rgb(139, 0, 139);
padding: 30px;
text-align: center;
font-family: Century Gothic, sans-serif;
color: rgb(255, 255, 255)
}
.card5 {
background: rgb(216, 191, 216);
padding: 30px;
text-align: center;
font-family: Century Gothic, sans-serif;
color: rgb(255, 255, 255)
}
.card6 {
background: rgb(75, 0, 130);
border: 1px solid rgb(25, 25, 112);
padding: 30px;
text-align: center;
font-family: Century Gothic, sans-serif;
color: rgb(255, 255, 255)
}
.relative-box {
position: relative;
background: rgb(100, 149, 237);
font-family: Century Gothic, sans-serif;
height: 200px;
margin: 25px;
padding: 10px;
}
.absolute-box {
position: absolute;
top: 10px;
right: 10px;
background: rgb(240, 255, 255);
font-family: Century Gothic, sans-serif;
padding: 5px 10px;
}
.grid-container {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 10px;
padding: 20px;
}
footer {
background: rgb(32, 178, 170);
text-align: right;
padding: 10px;
font-family: Century Gothic, sans-serif;
font-size: 14px;
}
</style>
</head>
<body>